<%= if @name do %>
  <%= live_component GameWindowComponent, assigns %>
<% else %>
  <section class="phx-hero">
    <h1><%= gettext "Welcome to the club!" %></h1>
    <form phx-submit="set_name">
      <input type="text" name="name" placeholder="Enter your name"/>
      <button type="submit" phx-disable-with="Starting...">Start</button>
    </form>
  </section>
<% end %>
